# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [4]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [6]:
# Your code here
df.iloc[:7]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Display the **last 3 rows** of the dataset.

In [11]:
# Your code here
df.iloc[-3:]
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [8]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the **number of rows and number of columns**.

In [14]:
# Your code here
print(df.index)
print(df.shape)

RangeIndex(start=0, stop=852, step=1)
(852, 20)

Use the appropriate attribute to get the **column names**.

In [16]:
# Your code here
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [18]:
# Your code here
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [22]:
# Your code here
df.loc[5:9, ['Home Team Name','Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [30]:
# Your code here
df[(df['Year'] == 1950) & (df['Stage'] == 'Group 3')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [31]:
###**** Answer is different from solution because instruction did not specify a need for Year 1950 to be a condition.
# Your code here
df.loc[df['Stage'] == 'Group 3', ['Attendance']]

     Attendance
3        2549.0
8       57735.0
13      70022.0
56      36502.0
61       7903.0
65      25811.0
75      20500.0
76      25000.0
83      34000.0
84      26000.0
101     34107.0
104     15343.0
110     15150.0
116     38850.0
117     30287.0
120     13300.0
127      2823.0
137     10484.0
141     12700.0
145     14903.0
149     11875.0
153     18715.0
157     10648.0
170     47308.0
173     29886.0
178     51387.0
180     25438.0
186     58479.0
189     24129.0
203     50560.0
206     52897.0
210     56818.0
214     66843.0
218     50804.0
222     49292.0
236     55100.0
237     23800.0
244     53700.0
245     13400.0
252     53300.0
254     28300.0
274     32569.0
275     40841.0
282     34771.0
283     41424.0
290     35221.0
291     42132.0
308     95000.0
312     23000.0
321     32093.0
324     15000.0
333     37000.0
336     32500.0
346     43000.0
350     44000.0
354     44000.0

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [37]:
# Your code here
Netherlands_home_games = df[df['Home Team Name'] == ('Netherlands')]

len(Netherlands_home_games)

32

**How many games were played by the Netherlands in total**?

In [42]:
# Your code here
Netherland_total_games = len(df[df['Home Team Name'] == ('Netherlands')]) + len(df[df['Away Team Name'] == ('Netherlands')])

Netherland_total_games

54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [46]:
# Your code here
US_total_homegames = df[(df['Home Team Name'] == 'USA') & (df['Year'] == 2014)]
US_total_awaygames = df[(df['Away Team Name'] == 'USA') & (df['Year'] == 2014)]

len(US_total_homegames + US_total_awaygames)

5

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [61]:
# Number of countries participated in the 1986 world cup

# Copy of dataset that is limited to 1986, and only team name cols
games_86 = df.loc[df['Year'] == 1986, ['Home Team Name', 'Away Team Name']].copy()
print("Total games in 1986:", len(games_86))
print()

# Converting to Python set approach (some base Python)
# Create sets of unique home and away teams
home = set(games_86['Home Team Name'])
away = set(games_86['Away Team Name'])
# Get the length of the union of those sets
print("Unique countries participating:", len(home | away))

# Melt approach (all pandas)
# Use `melt` to stack home and away variables on top of each other
# This creates one column "Home or Away" with values of either "Home
# Team Name" or "Away Team Name", one column "Team" with the team name
teams_86 = games_86.melt(var_name = "Home or Away", value_name="Team")
# Find unique number of teams using "Team" column
print("Unique countries participating:", len(teams_86["Team"].unique()))

Total games in 1986: 52

Unique countries participating: 24
Unique countries participating: 24

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [76]:
df['Total Goals'] = df['Home Team Goals'] + df['Away Team Goals']
# Length of df where the new column >= 5
len(df[df['Total Goals'] >= 5])

147

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [81]:
# Your code here
df['Half-time Goals'] = df['Half-time Home Goals'] + df['Half-time Away Goals']

In [82]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [91]:
# Run this cell without changes

# Diaplay all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [93]:

korea_names = ['Korea DPR', 'Korea Republic']
korea_initials = ['KOR', 'PRK']

# Home team name
df.loc[df['Home Team Name'].isin(korea_names), 'Home Team Name'] = 'Korea'
# Away team name
df.loc[df['Away Team Name'].isin(korea_names), 'Away Team Name'] = 'Korea'
# Home team initials
df.loc[df['Home Team Initials'].isin(korea_initials), 'Home Team Initials'] = 'NSK'
# Away team initials
df.loc[df['Away Team Initials'].isin(korea_initials), 'Away Team Initials'] = 'NSK'

Make sure to verify your answer!

In [107]:
# Check the updated columns

korea_mask = (
    (df['Home Team Name'].str.contains('Korea')) |
    (df['Away Team Name'].str.contains('Korea'))
)

df.loc[korea_mask, ['Home Team Name', 'Away Team Name', 'Home Team Initials', 'Away Team Initials']]

    Home Team Name Away Team Name Home Team Initials Away Team Initials
80         Hungary          Korea                HUN                NSK
88          Turkey          Korea                TUR                NSK
171   Soviet Union          Korea                URS                NSK
179          Korea          Chile                NSK                CHI
187          Korea          Italy                NSK                ITA
195       Portugal          Korea                POR                NSK
364      Argentina          Korea                ARG                NSK
374          Korea       Bulgaria                NSK                BUL
386          Korea          Italy                NSK                ITA
421        Belgium          Korea                BEL                NSK
434          Korea          Spain                NSK                ESP
444          Korea        Uruguay                NSK                URU
464          Spain          Korea                ESP                NSK
480          Korea        Bolivia                NSK                BOL
490        Germany          Korea                GER                NSK
524          Korea         Mexico                NSK                MEX
542    Netherlands          Korea                NED                NSK
556        Belgium          Korea                BEL                NSK
593          Korea         Poland                NSK                POL
609          Korea            USA                NSK                USA
625       Portugal          Korea                POR                NSK
635          Korea          Italy                NSK                ITA
639          Spain          Korea                ESP                NSK
640        Germany          Korea                GER                NSK
642          Korea         Turkey                NSK                TUR
655          Korea           Togo                NSK                TOG
672         France          Korea                FRA                NSK
691    Switzerland          Korea                SUI                NSK
710          Korea         Greece                NSK                GRE
721         Brazil          Korea                BRA                NSK
725      Argentina          Korea                ARG                NSK
737       Portugal          Korea                POR                NSK
742        Nigeria          Korea                NGA                NSK
753          Korea  C�te d'Ivoire                NSK                CIV
756        Uruguay          Korea                URU                NSK
788         Russia          Korea                RUS                NSK
802          Korea        Algeria                NSK                ALG
818          Korea        Belgium                NSK                BEL

## Summary

In this lab, you practiced accessing data within Pandas!